.wp-block-coblocks-accordion{
  section{
    border-radius: 4px;
    margin: 0 0 1em !important;
	header::before {
		border: none;
		background: transparent;
		content: "\25B6";
		margin-right: 5px;
		display: inline-block;
		font-size: .9em;
	  }
	&[expanded] {
		header::before {
			content: "\25BC";
		  }
	}
  }
}
