/**
 * Block's Front-end specific styles.
 */
.web-stories-list {
	&.is-view-type-carousel,
	&.is-view-type-circles {
		.web-stories-list__story {
			width: auto;
		}

		.web-stories-list__inner-wrapper {
			max-width: 100%;
		}

		bento-base-carousel .web-stories-list__story {
			width: var(--ws-story-max-width);
		}
	}

	&.is-view-type-carousel.is-style-default {
		bento-base-carousel {
			.web-stories-list__story {
				z-index: -1;
			}

			.web-stories-list__story-poster {
				margin: 0 5px;
				border-radius: 8px;
				overflow: hidden;
			}
		}
	}

	bento-lightbox, amp-lightbox {
		z-index: 9999999;
		/* stylelint-disable selector-max-specificity */
		#web-stories-list__lightbox amp-story-player {
			width: 100vw;
			height: 100vh;
		}
		/* stylelint-enable selector-max-specificity */
	}
}
