name: Lint and Test

on:
  push:
    branches:
    - main
  pull_request:

jobs:
  lint-js:
    name: JS Lints
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 15

    - name: Cache node modules
      uses: pat-s/always-upload-cache@v3.0.1
      with:
        # npm cache files are stored in `~/.npm` on Linux/macOS
        path: ~/.npm
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
          ${{ runner.os }}-build-
          ${{ runner.os }}-
      env:
        cache-name: cache-node-modules

    - name: ls
      run: ls
      working-directory: ./assets

    - name: Install dependencies
      run: npm ci
      working-directory: ./assets

    - name: Lint JS
      run: npm run lint-js
      working-directory: ./assets

    - name: Lint CSS
      run: npm run lint-css
      working-directory: ./assets
